<!DOCTYPE html>
<html lang="zxx"> 
	
<head>
	<%- include('../partials/head.ejs') %> 
    <title>About Us | UPUI – Unity, Culture & Progress</title>  
    <meta name="description" content="Learn more about Urhobo Progress Union Ireland (UPUI), our mission, vision, and commitment to promoting Urhobo culture, unity, and development in Ireland.">  
    
    <!-- Open Graph Meta Tags for Facebook, LinkedIn, etc. -->
    <meta property="og:title" content="About Us | Urhobo Progress Union Ireland">
    <meta property="og:description" content="Discover the mission and vision of UPUI in preserving Urhobo heritage and fostering community growth in Ireland.">
    <meta property="og:image" content="https://upuireland.org/img/upuilogo.png">
    <meta property="og:url" content="https://upuireland.org/about">
    <meta property="og:type" content="website">  
    
    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="About Us | Urhobo Progress Union Ireland">
    <meta name="twitter:description" content="UPUI is dedicated to preserving Urhobo heritage and fostering unity within the community. Learn more about us!">
    <meta name="twitter:image" content="https://upuireland.org/img/upuilogo.png">
    <meta name="twitter:url" content="https://upuireland.org/about">
    
    </head>
    <body>
	
		<!-- Preloader -->
		<%- include('../partials/preloader.ejs') %>
        <!-- End Preloader -->
		 
	
		<!-- Header Area -->
		<%- include('../partials/header.ejs') %>
		<!-- End Header Area -->
		
		<!-- Breadcrumbs -->
		<div class="breadcrumbs overlay">
			<div class="container">
				<div class="bread-inner">
					<div class="row">
						<div class="col-12">
							<h2>About Us</h2>
							<ul class="bread-list">
								<li><a href="/">Home</a></li>
								<li><i class="icofont-simple-right"></i></li>
								<li class="active">About Us</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Breadcrumbs -->
		 

		<!-- Start About Area -->  
                <div class="enc">  

                        <div class="abut-image">
                                <img src="/img/upuiabout.jpg"  alt="#" />   
                        </div> 

                        <div class="abot-content">
                             <br>
                            <span>About Us</span>
                            <h2 style="margin-top:10px; margin-bottom:10px;">About UPU Ireland</h2>
                            <p style="font-size:17px; text-align:left">  The Urhobo Progress Union Ireland (UPUI) is a non-political, socio-cultural organization committed to fostering unity, cultural pride, and community development among Urhobo people living in Ireland.

                                Our focus is on promoting shared values, encouraging social connections, and preserving the rich heritage of the Urhobo ethnic group. We aim to create a welcoming environment where members can support one another, celebrate their culture, and contribute meaningfully to both the Urhobo and wider Irish communities. </div> 
                </div>  






                     <div class="encc"> 
                      
                        <p style="font-size:17px; text-align:left">  The Urhobo Progress Union Ireland (UPUI) is a socio-cultural organization, and it's a non-political group. Affiliated to UPU worldwide, which aim to foster unity, love, and peace among its members in Irish communities. The Urhobo Progress Union Ireland is an organization of all Urhobos,residing in the Republic of Ireland. UPUI is the custodian of Urhobo cultures and values in Ireland,  the vehicle for the advancement of Urhobo people domcile in the Republic of Ireland. Since the formation of Urhobo Progress Union (UPU) in 1931, the mother organization of all Urhobo people worldwide, UPU has consistently encouraged the formation of branches amongst Urhobos in Nigeria and in Diaspora. Following this tradition, the Urhobos in the Republic of Ireland came together in 2009 to form this union to promote, preserve, protect it's cultures and pass it on to  the future generations. We value integration with the Irish community and live peacfully with other ethnic groups and their cultures. Some of the objectives of Urhobo Progress Union Ireland (UPUI) are the promotion of love, unity, and  welfare of  Urhobo people in Ireland and the less privileged in
                            Urhobo community  in Nigeria. <br><br> 
                     </div>   <br>  <br>  
         
        <!-- End About Area -->

        <!-- Start Our Vision Area --
        <section class="our-vision-area ptb-100 pt-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-vision-box">
                            <div class="icon">
                                <i class="icofont-tick-mark"></i>
                            </div>
                            <h3>Our Mission</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-vision-box">
                            <div class="icon">
                                <i class="icofont-tick-mark"></i>
                            </div>
                            <h3>Our Planning</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-vision-box">
                            <div class="icon">
                                <i class="icofont-tick-mark"></i>
                            </div>
                            <h3>Our Vision</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Our Vision Area -->

        <!-- Start Our Mission Area --
        <section class="our-mission-area ptb-100 pt-0">
            <div class="container-fluid p-0">
                <div class="row m-0">
                    <div class="col-lg-6 col-md-12 p-0">
                        <div class="our-mission-content">
                            <span class="sub-title">Our Mission & Vision</span>
                            <h2>Better Information, Better Health</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                            <ul>
                                <li>
                                    <div class="icon">
                                        <i class="icofont-doctor"></i>
                                    </div>
                                    <span>Professional Staff</span>

                                    Lorem ipsum dolor sit amet sit, consectetur adipiscing elit.
                                </li>
                                <li>
                                    <div class="icon">
                                       <i class="icofont-kid"></i>
                                    </div>
                                    <span>Newborn Care</span>

                                    Lorem ipsum dolor sit amet sit, consectetur adipiscing elit.
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="icofont-laboratory"></i>
                                    </div>
                                    <span>Sufficient Lab Tests</span>

                                    Lorem ipsum dolor sit amet sit, consectetur adipiscing elit.
                                </li>
                                <li>
                                    <div class="icon">
                                       <i class="icofont-tooth"></i>
                                    </div>
                                    <span>Tooth Extraction</span>

                                    Lorem ipsum dolor sit amet sit, consectetur adipiscing elit.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 p-0">
                        <div class="our-mission-image">
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Our Mission Area -->
		
		<!-- Start Newsletter Area -->
		<%- include('../partials/newsletter.ejs') %>
		<!-- /End Newsletter Area -->
		
		<!-- Footer Area -->
		<%- include('../partials/footer.ejs') %>
		<!--/ End Footer Area --> 
		
 
   </html>