<!DOCTYPE html>
<html lang="zxx"> 
	
<head>
	<%- include('../partials/head.ejs') %> 
    <title>About Us | UPUI – Unity, Culture & Progress</title>  
    <meta name="description" content="Learn more about Urhobo Progress Union Ireland (UPUI), our mission, vision, and commitment to promoting Urhobo culture, unity, and development in Ireland.">  
    
    <!-- Open Graph Meta Tags for Facebook, LinkedIn, etc. -->
    <meta property="og:title" content="About Us | Urhobo Progress Union Ireland">
    <meta property="og:description" content="Discover the mission and vision of UPUI in preserving Urhobo heritage and fostering community growth in Ireland.">
    <meta property="og:image" content="https://upuireland.org/img/upuilogo.png">
    <meta property="og:url" content="https://upuireland.org/about">
    <meta property="og:type" content="website">  
    
    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="About Us | Urhobo Progress Union Ireland">
    <meta name="twitter:description" content="UPUI is dedicated to preserving Urhobo heritage and fostering unity within the community. Learn more about us!">
    <meta name="twitter:image" content="https://upuireland.org/img/upuilogo.png">
    <meta name="twitter:url" content="https://upuireland.org/about">
    
    </head>
    <body>
	
		<!-- Preloader -->
		<%- include('../partials/preloader.ejs') %>
        <!-- End Preloader -->
		 
	
		<!-- Header Area -->
		<%- include('../partials/header.ejs') %>
		<!-- End Header Area -->
		
		<!-- Breadcrumbs -->
		<div class="breadcrumbs overlay">
			<div class="container">
				<div class="bread-inner">
					<div class="row">
						<div class="col-12">
							<h2>About Us</h2>
							<ul class="bread-list">
								<li><a href="/">Home</a></li>
								<li><i class="icofont-simple-right"></i></li>
								<li class="active">About Us</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Breadcrumbs -->
		 

		<!-- Start About Area -->  
                <div class="enc">  

                        <div class="abut-image">
                                <img src="/img/upuiabout.jpg"  alt="#" />   
                        </div> 

                        <div class="abot-content">
                             <br>
                            <span>About Us</span>
                            <h2 style="margin-top:10px; margin-bottom:10px;">About UPU Ireland</h2>
                            <p style="font-size:17px; text-align:left">The Urhobo Progress Union Ireland (UPUI) is a socio-cultural and non political group strongly affiliated to UPU worldwide which aims to foster unity, love and peace among its members and the community at large. The Urhobo Progress Union Ireland is an organization of all Urhobos residing in the Republic of Ireland. UPUI is the custodian of Urhobo cultures, values and is the vehicle for the advancement of Urhobo people residing in Ireland.

                                Since the formation of Urhobo Progress Union (UPU) in 1931, the mother organization of all Urhobo people worldwide, UPU has consistently encouraged the formation of branches amongst Urhobos in Nigeria and in Diaspora.
                                
                                Following this tradition, the Urhobos in the Republic of Ireland decided to come together to promote, preserve and protect its cultures, values and pass on the positive aspects to future generations. We also believe strongly in integrating with the Irish community and live peaceably with other tribes. Inclusive in the aims and objectives of Urhobo Progress Union Ireland (UPUI) is the promotion of love, unity and the welfare of our Urhobo people in Ireland while giving a helping hand to the less privileged Urhobo people back home in Nigeria when necessary.</p>
                         </div> 
                </div>  






                     <div class="encc"> 
                      
                        <p style="font-size:17px; text-align:left">The journey of gathering all Urhobos residing in Ireland together as one started when Prince (Engr.) Richard Tiki Iyede introduced the subject to Omiragua Eseoghene Ewuruje and placed a call to Chief Clement Akpobaro to discuss the idea of forming Urhobo Progress Union Ireland branch.

                            The idea was welcomed and the inaugural meeting was held on 28th June, 2009 in Galway city. In attendance were: Chief Clement Akpobaro, Engr. Augustine Edogho, Chief William Iboye, Omiragua Eseoghene Ewuruje, Prince (Engr.) Richard Tiki Iyede and Engr. Denham Okaruadjeren. Chief Clement Akpobaro was then nominated as the interim President; Prince (Engr.) Richard Tiki Iyede became the interim Secretary while Engr. Augustine Edogbo became the interim Treasurer. A follow up meeting was hosted in county Limerick where Mrs. Okiemute Osivwemu and Omiragua Eric Orugbo were made the Financial Secretary and Provost respectively. Thereafter, subsequent meetings were hosted by counties on rotational basis.
                            
                            The entire interim executive council was however dissolved on 28th February, 2010 and an ad hoc committee was set up headed by Omiragua Eric Orugbo while Mrs. Osivwemu and Engr. Denham Okaruadjeren were made Treasurer and Secretary respectively. It was resolved that the ad hoc committee should steer the affairs of the Union before the election which was slated for 30th May, 2010 in Galway City.
                            
                            A well attended election produced Prince (Engr.) Richard Tiki Iyede as the first elected President of the union; Mrs. Gladys Onoriode became the Vice President while Lucky Ohwofasa Eghagbevwa was unanimously elected as the PRO. Omiragua Eseoghene Ewuruje became the Otota (Speaker), Omiragua Patrick Umukoro was elected the Provost while the outgoing ad hoc committee chairman, Omiragua Eric Orugbo took the post of the Treasurer. The President immediately appointed the trustees of the union namely: Chief Edward Biokoro (chairman), Dr. Benjamin Ughwubrusi, Omiragua Gideon Okaruadjeren and Pastor Larry Ovie. It was also voted that all subsequent meetings should be held in Dublin in response to being the capital city and having more Urhobo residents, thus, led to the end of the rotational hosting of the union by all counties in Ireland.
                            
                            At a later meeting in June 2010, held in Dublin, Pastor Lucki Dedeku emerged as the General Secretary of the union; Engr. Denham Okaruadjeren became the Assistant General Secretary whilst Omiragua John Odiete became the new Financial Secretary.
                            
                            The Urhobo Progress Union Ireland has made tremendous achievements within her short period of existence. It has offered assistance to bereaved members, paid benevolent and condolence visits to members and attended several functions including church dedications and wedding ceremonies.
                            
                            On the 6th of July 2010, the union paid a courtesy visit to the Nigerian High Commission. Our representatives were officially received by the Nigerian Ambassador to Ireland (and Iceland), Honorable Dr. (Mrs.) Kemafo Nonyerem Chikwe. On the 1st of October, 2010 UPUI was accredited to attend the 50th independence celebrations of Nigeria to represent Urhobo. And for the very first time Urhobo people were given a profound recognition in the history of Irish Nigerians.
                            UPUI was acknowledged and accredited to participate in the occasion of the 79th annual Urhobo National Congress held on Saturday 4th December, 2010 at Woodridge hotel Effurun, Delta State, Nigeria. On the 28th December, 2010 UPUI annual get-together party was organized and it was acclaimed by both members and non-members as a huge success. UPUI has been duly registered with the Irish Government and with the UPU National headquarters with certificates of registration issued to that effect. Our constitution has been drafted and adopted and all provisions are now in full operation.
                            On the 15th May, 2011 the executive committee was dissolved and all the union’s properties were handed over to the trustees (Chief Edward Biokoro and Dr. Benjamin Ughwubrusi). The trustees ran the affairs of the union and conducted a general election for a new executive on Sunday 31st May, 2011. And the newly elected executive committee are: Prince (Engr.) Richard Tiki Iyede (President), Mrs. Gladys Onoriode (1st Deputy President), Omiragua Ikolo Peter Oghenewhaire (2nd Deputy President), Pastor Lucki Dedeku (General Secretary), Omiragua Emmanuel Tebrise (Assist. Secretary), Engr. Denham Okaruadjeren (Treasurer), Omiragua Lucky Ohwofasa Eghagbevwa (PRO), Omiragua John Odiete (Financial Secretary), Omiragua Ochuko Dedeku (Otota), Omiragua Eseoghene Kelly Okotete (event officer) and Omiragua Thompson Obayendo (Provost). The tenure of the executive council will be two years.
                            By the grace of God and with total commitment from our members, the Urhobo Progress Union Ireland hopes to achieve more of its set aims and objectives in the future.
                            The Urhobo Progress Union Ireland currently holds its general meeting every last Sunday of each month between 4-7pm at the Clarion Hotel, Liffey Valley, Dublin 22. All sons and daughters of Urhobo origin are welcome. Urhobo wado!!! UPUI wado!!! <br><br>
                            
                            God bless Urhobo land <br>
                            God bless Republic of Nigeria <br>
                            God bless Republic of Ireland  <br> </p>
                     </div>   <br>  <br>  
         
        <!-- End About Area -->

        <!-- Start Our Vision Area --
        <section class="our-vision-area ptb-100 pt-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-vision-box">
                            <div class="icon">
                                <i class="icofont-tick-mark"></i>
                            </div>
                            <h3>Our Mission</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-vision-box">
                            <div class="icon">
                                <i class="icofont-tick-mark"></i>
                            </div>
                            <h3>Our Planning</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-vision-box">
                            <div class="icon">
                                <i class="icofont-tick-mark"></i>
                            </div>
                            <h3>Our Vision</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Our Vision Area -->

        <!-- Start Our Mission Area --
        <section class="our-mission-area ptb-100 pt-0">
            <div class="container-fluid p-0">
                <div class="row m-0">
                    <div class="col-lg-6 col-md-12 p-0">
                        <div class="our-mission-content">
                            <span class="sub-title">Our Mission & Vision</span>
                            <h2>Better Information, Better Health</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                            <ul>
                                <li>
                                    <div class="icon">
                                        <i class="icofont-doctor"></i>
                                    </div>
                                    <span>Professional Staff</span>

                                    Lorem ipsum dolor sit amet sit, consectetur adipiscing elit.
                                </li>
                                <li>
                                    <div class="icon">
                                       <i class="icofont-kid"></i>
                                    </div>
                                    <span>Newborn Care</span>

                                    Lorem ipsum dolor sit amet sit, consectetur adipiscing elit.
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="icofont-laboratory"></i>
                                    </div>
                                    <span>Sufficient Lab Tests</span>

                                    Lorem ipsum dolor sit amet sit, consectetur adipiscing elit.
                                </li>
                                <li>
                                    <div class="icon">
                                       <i class="icofont-tooth"></i>
                                    </div>
                                    <span>Tooth Extraction</span>

                                    Lorem ipsum dolor sit amet sit, consectetur adipiscing elit.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 p-0">
                        <div class="our-mission-image">
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Our Mission Area -->
		
		<!-- Start Newsletter Area -->
		<%- include('../partials/newsletter.ejs') %>
		<!-- /End Newsletter Area -->
		
		<!-- Footer Area -->
		<%- include('../partials/footer.ejs') %>
		<!--/ End Footer Area --> 
		
 
   </html>